:root {
   --bottom-shadow: -4px 5px 2px -2px rgba(0, 0, 0, .2);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

#main-logo {
   display: flex;
}


#text-logo {
   color: #971D12;
   font-size: 30px;
   font-weight: bold;
}

#img-logo {
   max-height: 30px;
   max-width: 30px;
}


#search-button {
   max-height: 30px;
   max-width: 30px;
}

nav {
   background: #F6F6F6;
   display: flex;

   padding: 10px 40px 10px 70px;
   box-shadow: var(--bottom-shadow);
   height: 100%;
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;


}


nav div {
   text-align: center;
}

#main-logo {
   margin-right: 30px;
}

#text-logo {
   display: inline;
   margin-right: 5px;
   font-size: 30px;
   font-weight: 800;
}

#img-logo {
   margin-top: 5px;

}


nav .search-bar {
   height: 35px;
   width: 40%;
   display: flex;
   box-shadow: var(--bottom-shadow);
   border-radius: 5px;
}

nav .search-bar input {
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   padding: 0 10px;
   color: #8C8281;
   font-size: 16px;
   border-radius: 5px;
}

nav .search-bar span {
   height: 100%;
   width: 10%;
   text-align: center;
   line-height: 35px;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   background-color: #971D12;
   color: #FFFFFF;
   font-size: 23px;
   font-weight: normal;
}

.toggle-button {
   position: absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}

.toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: black;
   border-radius: 10px;
}



.nav-links {
   display: inline-flex;
   padding: 0 25px
}

.nav-links ul {
   display: flex;
   list-style: none;
}

.nav-item a {
   text-decoration: none;
}

.nav-item::after {
   content: '';
   display: block;
   margin: auto;
   height: 3px;
   width: 0px;
   background: #FE9C03;
   transition: all 0.2s linear;
}

.nav-item:hover::after {
   width: 70%;
}

.nav-links a {
   text-decoration: none;
   color: #EC5451;
   font-weight: bold;
   font-size: 18px;
   padding: 0px 15px;
}

@media (max-width: 1000px) {
   .toggle-button {
      display: flex;
   }

   .nav-item {
      /* display: none; */
   }

   nav {
      flex-direction: column;
      /* flex-wrap: wrap; */
      padding: 1% 2%;
   }

   nav #main-logo {
      width: 100%;
   }

   nav .search-bar {
      width: 60%;
      display: none;
   }



   .nav-links {
      display: none;
   }

   .nav-links ul {
      width: 100%;
      flex-direction: column;
   }

   .nav-links ul li {
      padding: .5em .01em;
   }

   .nav-links.active {
      display: flex;
   }

   .search-bar.active {
      display: flex;
   }
}