body {
   background-color: #2D2013;
   font-family: Verdana,
      Geneva,
      Tahoma,
      sans-serif;
   color: #FFFFFF;
}


#main-container {
   width: 600px;
   padding: 1rem;
   margin: 20px auto;
}

#recipe-title {
   margin-top: -20px;
}

img {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}

/* Credits to Harry Roberts */
.glyph-hr {
   padding: 0;
   border: none;
   border-top: medium double #FFFFFF;
   color: inherit;
   text-align: center;
   opacity: 50%;

}

.glyph-hr:after {
   content: "§";
   display: inline-block;
   position: relative;
   top: -0.7em;
   font-size: 1.5em;
   padding: 0 0.25em;
   background: #2D2013;
}

/* Credits to Tomas Theunissen */
.flaired-edges {
   margin-top: 30px;
   margin-bottom: -30px;
   overflow: visible;
   height: 30px;
   border-style: solid;
   border-color: #FFFFFF;
   border-width: 1px 0 0 0;
   border-radius: 20px;
}

.flaired-edges:before {
   display: block;
   content: "";
   height: 30px;
   margin-top: -31px;
   border-style: solid;
   border-color: #FFFFFF;
   border-width: 0 0 1px 0;
   border-radius: 20px;
}